body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AboutPage {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

hr {
  border: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #fbfbfc;
}

a:hover {
  text-decoration: underline;
}

.nameimages-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.navbar {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px 10px 100px;
  text-align: center;
  flex-flow: row;
  /* z-index: 2 */
}

.navbar a {
  border-right: 2px solid black;
  padding: 5px;

}

/* Para que sombree en un color  */
.navbar :hover {
  color: greenyellow;
  transform: scale(1.2);
  text-shadow: none;
}

.list {
  margin-left: 200px;
  flex: 1;
  padding: 20px;

}

h1 {
  text-align: center;
  margin-left: 50px;
}

.product-list {
  margin-left: 50px;
}

.product-card {
  border: 2px solid #ccc; 
  margin-bottom: 20px; 
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
  list-style-type: none;
}

.footer {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  margin-top: auto; /* Pushes the footer to the bottom */
}


h3 {
  text-align: center;
  margin-left: 30px;
}


/* the img for error page */
.page-img {
  width: 70%;
}




form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form span {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

form input[type="text"],
form input[type="url"],
form input[type="rating"],
form input[type="stock"],
form input[type="brand"],
form input[type="category"],
form select {
  width: calc(100% - 22px); /* Adjusts width to fit padding */
  padding: 10px;
  margin-bottom: 20px; /* Adds space between form fields */
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}
