body, html {
  margin: 0;
  padding: 60px 0px 0px 0px;
  width: 100%;
  min-height: 50vh;
  font-family: Arial;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 87.3vh;
}

.AboutPage {
  text-align: center; 
  padding: 50px; 
  margin-left: 50px;
  overflow: hidden;
  border: 4mm ridge rgba(3, 3, 3, 0.938);
  border-radius: 8px;
}

.AboutPage h1 {
  margin-bottom: 50px; 
  margin-right: 100px ;
}

.images {
  align-content: center;
  display: flex; 
  justify-content: space-around; 
  flex-wrap: nowrap; 
  gap: 10px;
  
}

.person-name {
  text-align: center;
  margin-top: 5px; 
}

a {
  text-decoration: none; 
  color: inherit;
}

.nameimages-img {
  display: inline-block;
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  transition: transform 0.3s ease;
}

.nameimages-img-small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.nameimages-img-small {
  display: flex;
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.nameimages-img-small:hover {
  transform: scale(1.1);
}

.small-image-1 {
  height: 40px;
  margin-left: 10px;
}

.navbar {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 13px 20px 13px 0px;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 60px; 
}

.navbar ul {
  margin: 0;
  padding: 10px 20px;
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

.navbar ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
}

.navbar ul:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
} 

.navbar ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
  transform-origin: center right;
}

.navbar ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5bfac4;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
  border-radius: 8px;
}

.navbar ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.navbar-logo img {
  max-height: 110px; 
  width: auto; 
  margin-right: 20px; 
}

.content {
  display: flex;
}

.main-content {
  margin-left: 200px;
  flex-grow: 1;
  padding: 20px;
  padding: 20px;

}

h1 {
  text-align: center;
  margin-left: 50px;
}


.product-list {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.product-card {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  border: 2px solid #ccc;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.product-image img {
  max-width: 390px;
  width: auto; 
  height: 200px; 
  
}

.product-title {

  text-align: center;
  margin-bottom: 20px; 
}

.product-btns {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  width: 100%; 
}

.product-btns button, .product-btns a button {
  background-color: #007bff; 
  color: #ffffff; 
  padding: 8px 16px; 
  font-size: 16px; 
  border-radius: 4px; 
  cursor: pointer; 
  text-decoration: none; 
  transition: background-color 0.3s, color 0.3s; 
}

.product-btns button:hover, .product-btns a button:hover {
  background-color: #5bfac4; 
  color: black; 
  border-color: #5bfac4; 
}


.footer-div {
  /* height: 100px;  */
  /* overflow: hidden; */
  margin-top: auto; 
}


.footer {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: space-between; /* Separates the <p> and the <a> to opposite ends */
  padding: 20px; /* Adds some padding inside the footer */
  background-color: #307bff; /* Example background color */
  color: #fff; /* Example text color for contrast */
}

.footer p {
  margin-left: 250px; /* Removes default margin */
  text-align: center; /* Ensures the text is centered */
  flex: 1; /* Allows the paragraph to take up the available space, aiding in centering */
}

.footer-img img {
  max-width: 40px; /* Adjusts the image size */
  height: auto; /* Maintains the aspect ratio of the image */
  float: right; /* Aligns the image to the right */
}



h3 {
  text-align: center;
  margin-left: 30px;
}

.page-img {
  width: 70%;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form span {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

form input[type="text"],
form input[type="url"],
form input[type="rating"],
form input[type="stock"],
form input[type="brand"],
form input[type="category"],
form select {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}


.details {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #f5f5f5; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.details h1 {
  color: #333; 
  margin-bottom: 15px; 
}

.details h2 {
  color: #007bff; 
  margin-bottom: 10px; 
}

.details p {
  line-height: 1.6; 
  margin-bottom: 5px; 
}

.details img {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
  border-radius: 4px; 
}

.details button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 4px;
  cursor: pointer; 
  margin-top: 20px; 
  display: inline-block;
  text-align: center; 
}

.details button:hover {
  background-color: #0056b3; 
}

#category-div {
  margin-top: 20px;
}