.sidebar {
    margin-top: 85px;
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color:#131a35;
    padding-top: 28px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebarClosed {
    transition: width 0.3s ease-in-out;
    width: 60px;
    position: fixed;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.sidebarClosed .sideitem {
    color: gray;
}

.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #192d46;
    color: #3ad0d8;
}

.sidebarClosed .sideitem:hover {
    background-color: transparent;
    transform: scale(1.5); 
    transition: transform 0.3s ease;
}

.menuBtn {
    align-self: flex-start;
    justify-self: flex-end;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.sidebarClosed .menuBtn {
    color: gray;
}

.menuBtn:hover {
    background-color: #192d46;
    color: #3ad0d8;
    border-radius: 10%;
}

.sidebarClosed .menuBtn:hover {
    background-color: transparent;
    transform: scale(1.5); 
    transition: transform 0.3s ease;
}